@font-face {
    font-family: 'LoveMalia';
        src: url('https://github.com/Zuede/l/blob/master/LSLFonts/LoveMalia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }