@font-face {
  font-family: "Inkfree";
  src: local("Inkfree");
}

@font-face {
  font-family: "Love Malia";
  // src: url("https://cdn.statically.io/gh/Zuede/l/e23d59cc/LSLFonts/LoveMalia.ttf");
  src: url(" https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/LoveMalia.otf");
}

@font-face {
  font-family: "Arabella";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Arabella.ttf");
}

@font-face {
  font-family: "Bahagia";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Bahagia.otf");
}

@font-face {
  font-family: "Befindisa";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Befindisa.otf");
}

@font-face {
  font-family: "Brotherhood Script";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Brotherhood%20Script.ttf");
}

@font-face {
  font-family: "Debby";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Debby.otf");
}

@font-face {
  font-family: "Manchester Signature";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Manchester%20Signature.ttf");
}

@font-face {
  font-family: "Mightype Script";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Mightype%20Script.otf");
}

@font-face {
  font-family: "Photograph Signature";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Photograph%20Signature.ttf");
}

@font-face {
  font-family: "Red Lipstick";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Red%20Lipstick.ttf");
}

@font-face {
  font-family: "Sexy Queen";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Sexy%20Queen.ttf");
}

@font-face {
  font-family: "Sophia";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Sophia.ttf");
}

@font-face {
  font-family: "Sweeter Than Candy";
  src: url("https://cdn.statically.io/gh/Zuede/l/62082d6e/LSLFonts/Sweeter%20than%20Candy.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Shadows+Into+Light|Bangers|Chewy|Sigmar+One|Architects+Daughter|Covered+By+Your+Grace|Londrina+Outline|Yellowtail|Bad+Script|Vibur|Yesteryear|Rock+Salt|Indie+Flower|Special+Elite|Gochi+Hand|Gloria+Hallelujah|Kristi|Give+You+Glory|Reenie+Beanie|Over+the+Rainbow|Waiting+for+the+Sunrise|Loved+by+the+King|Mrs+Sheppards|Sedgwick+Ave+Display|Cabin+Sketch|Kranky|Fredericka+the+Great|Nosifer|Luckiest+Guy|Sacramento|Pirata+One|Henny+Penny|Modak|Barriecito|Fascinate+Inline|Permanent+Marker");
@import url("https://fontlibrary.org/face/vshandprinted");
@import url("https://fontlibrary.org/face/waltograph");